* {
	margin: 0;
	padding: 0;
}

body {
	background-color: aquamarine;
}

input {
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-size: 16px;
	color: #333;
	background-color: #fff;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

input:focus {
	outline: none;
	border-color: #66afe9;
	box-shadow: 0 2px 4px rgba(102, 175, 233, 0.6);
}

button {
	margin-top: 25px;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	font-size: 16px;
	color: #fff;
	background-color: #007bff;
	cursor: pointer;
}

button:hover {
	background-color: #0056b3;
}

button:focus {
	outline: none;
	box-shadow: 0 2px 4px rgba(0, 123, 255, 0.4);
}

button:active {
	background-color: #003c80;
	box-shadow: none;
}

.container {
	width: 400px;
	margin: 100px auto;
}

.main {
	margin-top: 20px;
	width: 250px;
	height: 250px;
	border: 2px solid #54416d;
	border-radius: 25px;
	font-size: 23px;
}

.main p {
	margin-top: 20px;
}